@model StudentAccess
@{
    ViewData["Title"] = "Student Info";
}

<h1>Class CIS174 Student Info</h1>

<form method="post">
    <label for="AccessLevel">Access Level:</label>
    <input type="number" name="AccessLevel" min="1" max="10" required />
    <button type="submit">Submit</button>
</form>

<div>
    @if (Model.AccessLevel < 2)
    {
        <p>I am sorry but you don't have permissing to view this data</p>
    } else if (Model.AccessLevel >= 2 && Model.AccessLevel < 8)
    {
        
        <h3>List of students in class CIS174:</h3>
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name </th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
                @foreach (var student in Model.Students)
                {
                    <tr>
                        <td>@student.FirstName</td>
                        <td>@student.LastName</td>
                    </tr>
                }
    </tbody>
    </table>
    } else if (Model.AccessLevel >= 8)
    {
        <h2>Hello Admin</h2>
        <h3>List of students in class CIS174:</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name </th>
                    <th>Last Name</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.Students)
                {
                    <tr>
                        <td>@student.FirstName</td>
                        <td>@student.LastName</td>
                        <td>@student.Grade</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div> 